<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-4.3.xsd">
    
    <bean id="configProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:resources/config/redis.properties</value>
            </list>
        </property>
    </bean>
    
      <!-- redis数据源   -->
    <!-- <context:property-placeholder location="/WEB-INF/conf/redis.properties" /> -->
    
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">  
	    <property name="maxIdle" value="${redis.maxIdle}" />  
	    <property name="maxTotal" value="${redis.maxActive}" />  
	    <property name="maxWaitMillis" value="${redis.maxWait}" />  
	    <property name="testOnBorrow" value="${redis.testOnBorrow}" />  
	</bean>  
	
	<!-- redis连接池 -->  
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy"  depends-on="poolConfig">  
	   <constructor-arg name="poolConfig" ref="poolConfig" /> <!-- 加载jedisPool配置信息 -->  
	   <constructor-arg name="host" value="${redis.host}" /><!-- redis主机地址 -->  
	   <constructor-arg name="port" value="${redis.port}"/> <!-- redis连接端口 -->  
	   <constructor-arg name="timeout" value="${redis.timeout}"/><!-- 连接超时 -->  
	   <constructor-arg name="password" value="${redis.pass}"/><!--  密码 -->  
	</bean> 
	
	<bean id="redisUtils" class="com.rain.ssm.utils.RedisUtils">
		<constructor-arg name="jedisPool" ref="jedisPool"/>
		<!-- <property name="jedisPool" ref="jedisPool" /> -->
	</bean>  
        
</beans>